body {
    background-color: rgb(227, 224, 224);
    color: rgb(120, 168, 135);
}



.board-container {
    display: inline-block;
    border-style: ridge;
}


.cell {

    width: 40px;
    height: 40px;
    text-align: center;
    font-size: 1.5em;
    border-style: solid;
}


